In [1]:
import pandas as pd

In [2]:
project_dict = {
    "P018 - P01 Airport Carpark": ["2011-04-01","2011-05-01","2011-06-01","2011-07-01","2011-08-01",
                                   "2011-09-01","2011-10-01","2011-11-01"],
    "P019 - P02 Landfill Cell": ["2011-04-01", "2011-05-01", "2011-06-01", "2011-07-01"],
    "P020 - P03 Regional Bypass Road": ["2011-10-01", "2011-11-01", "2011-12-01", "2012-01-01", "2012-02-01", "2012-03-01",
                                        "2012-04-01", "2012-05-01", "2012-06-01"],
    "P021 - P04 Regional Arterial Pavement Repairs":     ["2011-05-01", "2011-06-01", "2011-07-01", "2011-08-01", "2011-09-01",
                                                      "2011-10-01", "2011-11-01", "2012-09-01"],
    "P022 - P05 Semi-Urban Road Reconstruction": ["2011-09-01","2011-10-01","2011-11-01","2011-12-01","2012-01-01","2012-02-01",
                                                  "2012-03-01","2012-04-01","2012-05-01","2012-06-01","2012-07-01","2012-08-01",
                                                  "2012-09-01","2012-10-01","2012-11-01"],
    "P024 - P06 Urban Road Reconstruction": ["2011-10-01","2011-11-01","2011-12-01","2012-01-01","2012-02-01","2012-03-01",
                                             "2012-04-01","2012-05-01","2012-06-01","2012-07-01","2012-08-01","2012-09-01",
                                             "2012-10-01","2012-11-01"],
    "P038 - P17 Marina Sub-division":["2014-04-01","2014-05-01","2014-06-01","2014-07-01","2014-08-01","2014-09-01",
                                      "2014-10-01","2014-11-01","2014-12-01","2015-01-01","2015-02-01","2015-03-01",
                                      "2015-04-01","2015-05-01"],
    "P039 - P18 Rural Road Repairs":["2014-09-01","2014-10-01","2014-11-01","2014-12-01","2015-01-01","2015-02-01",
                                     "2015-03-01"]
}

In [3]:
all_dfs = []

use_cols = ['Date', 'Description', 'Resource', 'Unit', 'Quantity', 'Rate', 'Total', 'Portfolio WBS']

for project_name, dates in project_dict.items():
    path1 = rf'C:\Users\abdul\Documents\GitHub\Data-Driven-Project-Management\Capstone Project Code\Raw_Data_New\{project_name}.xlsx'
    df = pd.read_excel(path1, sheet_name='Actual Costs', usecols=use_cols)
    
    # Drop rows where the first column is NaN or empty
    df = df.dropna(subset=[df.columns[0]])
    df = df[df[df.columns[0]].str.strip() != '']
    
    # Add the project name as a new column
    df['Project Name'] = project_name
    
    # Append the DataFrame to the list
    all_dfs.append(df)

# Concatenate all DataFrames
final_df = pd.concat(all_dfs, ignore_index=True)

In [4]:
final_df.columns

Index(['Date', 'Description', 'Resource', 'Unit', 'Quantity', 'Rate', 'Total',
       'Portfolio WBS', 'Project Name'],
      dtype='object')

In [5]:
len(final_df)

16756

In [6]:
final_df[ (final_df['Quantity'] < 0) | (final_df['Rate'] < 0) | (final_df['Total'] < 0)]

,Date,Description,Resource,Unit,Quantity,Rate,Total,Portfolio WBS,Project Name
2643,2011-07-31 00:00:00,Credit for Bond on Equipment,GCL,item,1.000,-4891.81,-4891.8100,223,P019 - P02 Landfill Cell
13173,2014-05-22 00:00:00,Pincers Carpenter,Small Tools,,1.000,-13.05,-13.0500,905,P038 - P17 Marina Sub-division
13543,2014-09-24 00:00:00,8 x PVC Bend,PVC Stormwater,,1.000,-130.56,-130.5600,ETC,P038 - P17 Marina Sub-division
13544,2014-09-26 00:00:00,1 x PVC Bend,PVC Stormwater,,1.000,-14.52,-14.5200,ETC,P038 - P17 Marina Sub-division
13592,2014-12-08 00:00:00,Credit note for Invoice 10588 Charged Caratage...,Rock,,23.895,-1.72,-41.0994,QMR,P038 - P17 Marina Sub-division
13637,2014-10-14 00:00:00,Credit Note for 143789285,DWV Bend,,1.000,-134.18,-134.1800,SWP,P038 - P17 Marina Sub-division
13640,2014-06-04 00:00:00,Credit Note for Exosol Gaurd,Ecosol Net Guard,,1.000,-1500.00,-1500.0000,SWPC,P038 - P17 Marina Sub-division
16228,2014-12-16 00:00:00,"Credit on Three Room Office, Male & Female Toi...",Building Facilites,,-1.000,255.40,-255.4000,903,P039 - P18 Rural Road Repairs
16231,2014-12-16 00:00:00,Credit on Folding table,Crib Facilities,,-1.000,3.68,-3.6800,903,P039 - P18 Rural Road Repairs
16238,2015-01-01 00:00:00,Credit Note for the hire of Building Facitily ...,Building Facilites,,1.000,-1222.67,-1222.6700,903,P039 - P18 Rural Road Repairs
16297,2014-12-16 00:00:00,Credit on Damage Waiver on Toilets & office bu...,Damage Waiver,,-1.000,35.74,-35.7400,904,P039 - P18 Rural Road Repairs
16298,2014-12-16 00:00:00,Credit on Damage Waiver on folding table,Damage Waiver,,-1.000,0.52,-0.5200,904,P039 - P18 Rural Road Repairs

In [7]:
condition = (final_df['Quantity'] < 0) | (final_df['Rate'] < 0) | (final_df['Total'] < 0)

filtered_df = final_df[~condition]

print("rows in Merged actual cost after removing these rows",len(filtered_df))

rows in Merged actual cost after removing these rows 16744

In [8]:
filtered_df.dtypes

Date              object
Description       object
Resource          object
Unit              object
Quantity         float64
Rate             float64
Total            float64
Portfolio WBS     object
Project Name      object
dtype: object

In [9]:
filtered_df.loc[:, 'Date'] = pd.to_datetime(filtered_df['Date']).dt.date

In [10]:
uom_mapping = {
    'hrs': 'hrs',
    'hr': 'hrs',
    'Hr   ': 'hrs',
    'hrs  ': 'hrs',
    'hr   ': 'hrs',
    
    'week': 'weeks',
    'weeks': 'weeks',
    'week ': 'weeks',
    'Weeks': 'weeks',
    
    'day': 'days',
    'days': 'days',
    
    'item': 'item',
    'item ': 'item',
    'Item ': 'item',
    
    'm3': 'm3',
    
    'm2': 'm2',
    'm2   ': 'm2',
    
    'tonne': 'tonne',
    'Tonne': 'tonne',
    
    'each': 'each',
    'each ': 'each',
    
    'm': 'm',
    'm    ': 'm',
    
    'month': 'month',
    
    'nights': 'nights',
    'Night': 'nights',
    
    'cum  ': 'cum',
    'sqm  ': 'sqm',
    
    'none': 'none',
    '     ': 'none',
    '':'none',
    'nan': 'none'
}

In [11]:
filtered_df['Unit'] = filtered_df['Unit'].fillna('none')
filtered_df['Unit'] = filtered_df['Unit'].str.strip().replace(uom_mapping)
filtered_df['Unit'] = filtered_df['Unit'].str.lower()

C:\Users\abdul\AppData\Local\Temp\ipykernel_18680\166820372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Unit'] = filtered_df['Unit'].fillna('none')
C:\Users\abdul\AppData\Local\Temp\ipykernel_18680\166820372.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Unit'] = filtered_df['Unit'].str.strip().replace(uom_mapping)
C:\Users\abdul\AppData\Local\Temp\ipykernel_18680\166820372.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Unit'] = filtered_df['Unit'].str.lower()

In [12]:
filtered_df['Unit'].unique()

array(['none', 'hrs', 'days', 'weeks', nan, 'item', 'tonne', 'm2', 'drum',
       'ea', 'month', 'each', 'ls', 'bcm', 'hole', 'mÂ³', 'hr', 'lm', 'm',
       'lump'], dtype=object)

In [13]:
filtered_df.rename(columns={
    'Description': 'Resource Description',
    'Quantity': 'Resource Quantity',
    'Date': 'Resource Date'
}, inplace=True)

C:\Users\abdul\AppData\Local\Temp\ipykernel_18680\2390757417.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.rename(columns={

In [14]:
filtered_df.columns

Index(['Resource Date', 'Resource Description', 'Resource', 'Unit',
       'Resource Quantity', 'Rate', 'Total', 'Portfolio WBS', 'Project Name'],
      dtype='object')

In [15]:
filtered_df.isnull().sum()

Resource Date             0
Resource Description      0
Resource                  0
Unit                      1
Resource Quantity        19
Rate                    197
Total                   224
Portfolio WBS             0
Project Name              0
dtype: int64

In [16]:
filtered_df.head()

,Resource Date,Resource Description,Resource,Unit,Resource Quantity,Rate,Total,Portfolio WBS,Project Name
0,2011-04-13,Survey Team - Inv SI3621340,Surveyor,none,1.0,1400.00,1400.00,11,P018 - P01 Airport Carpark
1,2011-06-28,Survey Team - Inv SI3624729,Surveyor,none,1.0,4508.30,4508.30,11,P018 - P01 Airport Carpark
2,2011-07-13,Survey Team - Inv SI3626127,Surveyor,none,1.0,3163.45,3163.45,11,P018 - P01 Airport Carpark
3,2011-08-15,Survey Team - Inv SI3627800,Surveyor,none,1.0,10806.55,10806.55,11,P018 - P01 Airport Carpark
4,2011-09-22,Survey Team Inv - SI3630067,Surveyor,none,1.0,790.50,790.50,11,P018 - P01 Airport Carpark

In [17]:
filtered_df.to_excel('C:/Users/abdul/Documents/GitHub/Data-Driven-Project-Management/Capstone Project Code/Processed_Data/ActualCostSheetMerged.xlsx', index=False)

In [18]:
df1 = pd.read_excel('C:/Users/abdul/Documents/GitHub/Data-Driven-Project-Management/Capstone Project Code/Processed_Data/ActualCostSheetMerged.xlsx')
df2 = pd.read_excel('C:/Users/abdul/Documents/GitHub/Data-Driven-Project-Management/Capstone Project Code/Processed_Data/CleanedDataForVisualization.xlsx')

In [19]:
df1.isnull().sum()

Resource Date             0
Resource Description      0
Resource                  0
Unit                      1
Resource Quantity        19
Rate                    197
Total                   224
Portfolio WBS             0
Project Name              0
dtype: int64

In [20]:
df1.dtypes

Resource Date           datetime64[ns]
Resource Description            object
Resource                        object
Unit                            object
Resource Quantity              float64
Rate                           float64
Total                          float64
Portfolio WBS                   object
Project Name                    object
dtype: object

In [21]:
df2.dtypes

Portfolio WBS               object
Description                 object
Quantity                   float64
UOM                         object
BAC                        float64
BAC Rate                   float64
Final Qty (AQ)             float64
Final Cost (AC)            float64
Final Rate                 float64
PQ                         float64
PV                         float64
AQ                         float64
AC                         float64
EV                         float64
Date                datetime64[ns]
Project Name                object
Start                       object
End                         object
Planned Quantity           float64
Planned Value              float64
Actual Quantity            float64
Actual Cost                float64
Earned Value               float64
Month                       object
predicted_DT               float64
predicted_RF               float64
predicted_LR               float64
predicted_SVM              float64
_merge                      object
Predicted                     bool
dtype: object

In [22]:
df1['Portfolio WBS'] = df1['Portfolio WBS'].fillna('').astype(str)
df1['Project Name'] = df1['Project Name'].astype(str)  # Ensure all values are strings

df2['Portfolio WBS'] = df2['Portfolio WBS'].fillna('').astype(str)
df2['Project Name'] = df2['Project Name'].astype(str)  # Ensure all values are strings

In [23]:
df1['Portfolio WBS'] = df1['Portfolio WBS'].apply(lambda x: x.lower())
df1['Project Name'] = df1['Project Name'].apply(lambda x: x.lower())

df2['Portfolio WBS'] = df2['Portfolio WBS'].apply(lambda x: x.lower())
df2['Project Name'] = df2['Project Name'].apply(lambda x: x.lower())

In [24]:
df1.isnull().sum()

Resource Date             0
Resource Description      0
Resource                  0
Unit                      1
Resource Quantity        19
Rate                    197
Total                   224
Portfolio WBS             0
Project Name              0
dtype: int64

In [25]:
# Convert dates to appropriate format (if needed)
df1['Month'] = pd.to_datetime(df1['Resource Date']).dt.to_period('M')
df2['Month'] = pd.to_datetime(df2['Date']).dt.to_period('M')

In [26]:
df1[['Portfolio WBS', 'Project Name', 'Month']].iloc[5:10]

  Portfolio WBS                Project Name    Month
5            11  p018 - p01 airport carpark  2011-10
6            11  p018 - p01 airport carpark  2011-11
7            11  p018 - p01 airport carpark  2011-11
8            13  p018 - p01 airport carpark  2011-05
9            13  p018 - p01 airport carpark  2011-06

In [27]:
df2[['Portfolio WBS', 'Project Name', 'Month']].iloc[5:10]

  Portfolio WBS                Project Name    Month
5            11  p018 - p01 airport carpark  2011-10
6            11  p018 - p01 airport carpark  2011-11
7            13  p018 - p01 airport carpark  2011-05
8            13  p018 - p01 airport carpark  2011-06
9            13  p018 - p01 airport carpark  2011-07

In [28]:
# Merge the dataframes
merged_df = pd.merge(df1, df2, on=['Portfolio WBS', 'Project Name', 'Month'], how='inner')

# Optionally, you can reset index if needed
merged_df = merged_df.reset_index(drop=True)

# Display or further process merged_df as needed
print(merged_df.head())

  Resource Date          Resource Description                   Resource  \
0    2011-04-13   Survey Team - Inv SI3621340  Surveyor
1    2011-06-28   Survey Team - Inv SI3624729  Surveyor
2    2011-07-13   Survey Team - Inv SI3626127  Surveyor
3    2011-08-15   Survey Team - Inv SI3627800  Surveyor
4    2011-09-22  Survey Team  Inv - SI3630067  Surveyor

   Unit  Resource Quantity      Rate     Total Portfolio WBS  \
0  none                1.0   1400.00   1400.00            11
1  none                1.0   4508.30   4508.30            11
2  none                1.0   3163.45   3163.45            11
3  none                1.0  10806.55  10806.55            11
4  none                1.0    790.50    790.50            11

                 Project Name    Month  ... Planned Value  Actual Quantity  \
0  p018 - p01 airport carpark  2011-04  ...       2519.15              7.6
1  p018 - p01 airport carpark  2011-06  ...       6297.87             24.3
2  p018 - p01 airport carpark  2011-07  ...       3778.72             17.1
3  p018 - p01 airport carpark  2011-08  ...       5038.30             58.4
4  p018 - p01 airport carpark  2011-09  ...       5038.30              4.3

  Actual Cost  Earned Value  predicted_DT  predicted_RF  predicted_LR  \
0     1400.00   1232.657534       3058.72       2155.80        577.97
1     4508.30   3941.260274       5629.51       4702.71       4850.67
2     3163.45   2773.479452       3058.72       2685.77       2338.94
3    10806.55   9472.000000       3058.72       7975.93      10375.69
4      790.50    697.424658       1654.63       2912.43       1406.43

   predicted_SVM  _merge  Predicted
0        2565.94    both       True
1        5056.96    both       True
2        2656.28    both       True
3        6229.62    both       True
4        2370.42    both       True

[5 rows x 37 columns]

In [29]:
len(merged_df)

16237

import numpy as np
filtered_df = merged_df[~(merged_df.select_dtypes(include=[np.number]) < 0).any(axis=1)]

print("\nLength of dataset after removing negative rows")
print(len(filtered_df))

In [30]:
merged_df.loc[:,'Resource Date'] = merged_df['Resource Date'].dt.date
merged_df.loc[:,'Date'] = merged_df['Date'].dt.date

In [31]:
merged_df.to_excel('C:/Users/abdul/Documents/GitHub/Data-Driven-Project-Management/Capstone Project Code/Processed_Data/FinalDataForVisualization.xlsx', index=False)

In [32]:
merged_df[['Portfolio WBS', 'Project Name', 'Month']].iloc[5:10]

  Portfolio WBS                Project Name    Month
5            11  p018 - p01 airport carpark  2011-10
6            11  p018 - p01 airport carpark  2011-11
7            11  p018 - p01 airport carpark  2011-11
8            13  p018 - p01 airport carpark  2011-05
9            13  p018 - p01 airport carpark  2011-06